<div class="container" [ngClass]="{ fixed: isHome }">
  <div class="logo" (click)="goHome()">
    <img src="../../../assets/build/images/svg/CINESHELF.svg" alt="" />
  </div>
  <div class="actions">
    <div class="filter" *ngIf="isHome">
      <mat-form-field class="select-filter">
        <mat-select
          (selectionChange)="onSelectionChange($event)"
          [formControl]="filterControl"
        >
          <mat-option value="genre">By genre</mat-option>
          <mat-option value="date">By date</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="vertical-line"></div>
    <a (click)="goToWatchlist()" class="watch-list">Watchlist</a>
  </div>
</div>
