@use "../../../../../assets/build/scss/colors.scss" as colors;

.movie-info-container {
  padding: 30px 132px;
  color: colors.$white;
  p {
    margin-bottom: 30px;
  }
  .info {
    display: flex;
    span {
      width: 15%;
    }
  }
}

.movie-cast-container {
  padding: 0 132px;
  color: colors.$white;
  .title {
    margin-bottom: 32px;
    border-left: 5px solid colors.$blue;
    padding-left: 6px;
    h2 {
      opacity: 0.9;
    }
  }
  .cast-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
